@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.wrapper_options {
	padding: func.adapt(25px, 1920px);
	border-radius: func.adapt(12px, 1920px);
	border: 1px solid rgba($color: vars.$grey_lines, $alpha: 0.4);
	box-shadow: 0px 0px 10px rgba($color: vars.$green_light, $alpha: 0.3);

	// overflow-y: auto;
	// overflow-x: hidden;
	// @include mix.scrollbar();
	max-height: 100%; //HELP: Ограничить максимальную высоту, чтобы когда компонент не помещается по высоте , то появлялся скролбар. А когда в компоненте мало контента, то он просто стоял маленький по центру экрана.

	// height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@media (max-width: 767.98px) {
		padding: func.adapt(20px, 480px);
		border-radius: func.adapt(12px, 480px);
	}
	@media (max-width: 479.98px) {
		padding: func.adapt(20px, 360px);
		border-radius: func.adapt(12px, 360px);
	}
}

.block__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: func.adapt(25px, 1920px);

	flex: 0 0 auto;

	> button {
		text-transform: uppercase;
		width: func.adapt(125px, 1920px);
		height: func.adapt(40px, 1920px);
		font-size: 1rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		&:hover {
			cursor: pointer;
			background-color: vars.$white !important;
			color: vars.$green !important;
			border: 1px solid vars.$green;
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}
}

.title {
	font-size: 1.57rem;
	font-weight: 700;
	color: vars.$black_hard;

	@media (max-width: 767.98px) {
		font-size: 2.28rem;
	}
}

.line {
	flex: 0 0 auto;

	margin-top: func.adapt(25px, 1920px);
	margin-bottom: func.adapt(15px, 1920px);
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted vars.$grey_lines;

	@media (max-width: 767.98px) {
		margin: func.adapt(16px, 480px) 0px;
	}
	@media (max-width: 479.98px) {
		margin: func.adapt(16px, 360px) 0px;
	}
}

.block__content {
	border-radius: func.adapt(11px, 1920px);
	background-color: vars.$blue_very_light;

	flex: 1 1 auto; // занимает всё свободное место
	overflow-y: auto; // скролл только здесь
	overflow-x: hidden;
	@include mix.scrollbar();

	@media (max-width: 767.98px) {
		border-radius: func.adapt(11px, 480px);
	}
	@media (max-width: 479.98px) {
		border-radius: func.adapt(11px, 360px);
	}
}
