@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.label {
	position: relative;
	display: flex;
	align-items: center;
	gap: func.adapt(5px, 1920px);
	transition: font-size 0.3s ease;

	&:hover {
		cursor: pointer;
		font-size: 1.08rem;

		@media (max-width: 767.98px) {
			font-size: 1rem;
		}
	}

	@media (max-width: 767.98px) {
		gap: func.adapt(5px, 480px);
	}
}

.checkbox__custom {
	width: func.adapt(20px, 1920px);
	height: func.adapt(20px, 1920px);
	border-radius: func.adapt(5px, 1920px);
	border: 1px solid vars.$grey;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	@media (max-width: 767.98px) {
		width: func.adapt(20px, 480px);
		height: func.adapt(20px, 480px);
		border-radius: func.adapt(5px, 480px);
	}
}

.active {
	background-color: vars.$green;
	border: none;
}

.checkbox__img {
	width: func.adapt(11px, 1920px);
	height: func.adapt(8px, 1920px);

	@media (max-width: 767.98px) {
		width: func.adapt(11px, 480px);
		height: func.adapt(8px, 480px);
	}
}

.checkbox__input {
	position: absolute;
	left: 0;
	opacity: 0;
	z-index: 2;

	&:hover {
		cursor: pointer;
	}

	&:hover + .checkbox__custom {
		width: func.adapt(23px, 1920px);
		height: func.adapt(23px, 1920px);

		@media (max-width: 767.98px) {
			width: func.adapt(23px, 480px);
			height: func.adapt(23px, 480px);
		}
	}

	&:hover + .checkbox__img {
		width: func.adapt(14px, 1920px);
		height: func.adapt(10px, 1920px);

		@media (max-width: 767.98px) {
			width: func.adapt(14px, 480px);
			height: func.adapt(10px, 480px);
		}
	}
}
