@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.wrapper_contentOptions {
	padding: 0px func.adapt(60px, 1920px);
	width: 100%;
	// height: calc(
	// 	100vh - #{func.adapt(80px, 1920px)} - #{func.adapt(163px, 1920px)}
	// );
	height: calc(
		100vh - #{func.adapt(80px, 1920px)} - #{func.adapt(93px, 1920px)}
	);
	display: flex;
	flex-direction: column;
	position: relative; // HELP: для лоадера

	@media (max-width: 767.98px) {
		height: auto;
		padding: 0px func.adapt(10px, 480px);
	}
	@media (max-width: 479.98px) {
		padding: 0px func.adapt(10px, 360px);
	}

	> button {
		display: none;

		@media (max-width: 767.98px) {
			display: block;
			text-transform: uppercase;
			width: 100%;
			height: func.adapt(40px, 480px);
			font-size: 1rem;
			border-radius: func.adapt(8px, 480px);
			margin-bottom: func.adapt(10px, 480px);
			box-shadow: 0px 0px 22px rgba($color: vars.$green, $alpha: 0.44);
		}
		@media (max-width: 479.98px) {
			height: func.adapt(40px, 360px);
			border-radius: func.adapt(8px, 360px);
			margin-bottom: func.adapt(10px, 360px);
		}
	}
}

.title {
	font-size: 2.71rem;
	color: vars.$black_hard;
	text-transform: uppercase;
	font-family: 'Intro';
	margin: func.adapt(15px, 1920px) 0;

	@media (max-width: 767.98px) {
		font-size: 0.928rem;
		margin: func.adapt(15px, 480px) 0;
	}

	@media (max-width: 479.98px) {
		margin: func.adapt(15px, 360px) 0;
	}
}

.block__content {
	display: flex;
	align-items: center;
	justify-content: center;

	// overflow-x: hidden;
	overflow: hidden;
	flex-grow: 1;
}
