@use '@st/functions.scss' as func;

.loader {
	width: func.adapt(50px, 1920px);
	height: func.adapt(50px, 1920px);
	z-index: 1002;

	@media (max-width: 767.98px) {
		width: func.adapt(50px, 480px);
		height: func.adapt(50px, 480px);
	}
	@media (max-width: 479.98px) {
		width: func.adapt(50px, 360px);
		height: func.adapt(50px, 360px);
	}
}
