@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;

.range_wrapper {
	display: flex;
	align-items: center;
	gap: func.adapt(5px, 1920px);
}

.range-container {
	position: relative;
	height: func.adapt(70px, 1920px);
	width: 100%;
	padding: func.adapt(5px, 1920px) 0;
	touch-action: none;
	display: flex;
	justify-content: space-between;
}

.range-track {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 1px;
	background: rgba($color: vars.$grey_lines, $alpha: 0.6);
	transform: translateY(-50%);
	border-radius: 2px;
}

.range-active {
	position: absolute;
	top: 50%;
	height: 2px;
	background: vars.$green;
	transform: translateY(-50%);
	z-index: 1;
}

.range-thumb {
	position: absolute;
	width: func.adapt(14px, 1920px);
	height: func.adapt(14px, 1920px);
	background: vars.$white;
	border: 1px solid vars.$green;
	border-radius: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 2;
	transition: transform 0.2s;

	&:hover {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

.label {
	font-size: 1rem;
}

.range-value {
	position: absolute;
	bottom: 50%; /*HELP: распологаем над ползунком */
	left: 50%;
	transform: translate(-50%, -8px);
	background: vars.$white;
	padding: 2px 4px;
	border-radius: 2px;
	font-size: 0.75rem;
	color: vars.$green;
	white-space: nowrap;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
