@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.wrapper_dataBaseOptions {
	padding: func.adapt(20px, 1920px);
	display: flex;
	flex-direction: column;
	gap: func.adapt(15px, 1920px);

	@media (max-width: 767.98px) {
		background-color: vars.$white;
		gap: func.adapt(15px, 480px);
	}

	> button {
		align-self: flex-end;
		width: func.adapt(190px, 1920px);
		height: func.adapt(40px, 1920px);
		font-size: 1rem;
		box-shadow: 0px 4px 15px rgba($color: vars.$green_light, $alpha: 0.3);

		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		&:hover {
			cursor: pointer;
			background-color: vars.$white !important;
			color: vars.$green !important;
			border: 1px solid vars.$green;

			@media (max-width: 767.98px) {
				width: 100%;
				height: func.adapt(40px, 480px);
			}
			@media (max-width: 479.98px) {
				height: func.adapt(40px, 360px);
			}
		}

		@media (max-width: 767.98px) {
			width: 100%;
			height: func.adapt(40px, 480px);
			border-radius: func.adapt(8px, 480px);
		}
		@media (max-width: 479.98px) {
			height: func.adapt(40px, 360px);
			border-radius: func.adapt(8px, 360px);
		}
	}
}

.block__dataBaseOptions {
	display: grid;
	grid-template-columns: 1.42rem repeat(9, 1fr) 1.42rem;
	gap: func.adapt(15px, 1920px);

	@media (max-width: 767.98px) {
		display: flex;
		flex-direction: column;
		gap: func.adapt(15px, 1920px);
	}
	@media (max-width: 479.98px) {
		gap: func.adapt(15px, 360px);
	}
}

.block__titles {
	display: contents;

	@media (max-width: 767.98px) {
		display: none;
	}
}

.title {
	font-size: 1.28rem;
	font-weight: 700;
	grid-column: span 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.isCheckbox {
	text-align: center;
}

.icon_svg {
	width: func.adapt(27px, 1920px);
	height: func.adapt(27px, 1920px);
	transition:
		width 0.3s ease,
		height 0.3s ease;

	@media (max-width: 767.98px) {
		width: func.adapt(27px, 480px);
		height: func.adapt(27px, 480px);
	}

	@media (max-width: 479.98px) {
		width: func.adapt(27px, 360px);
		height: func.adapt(27px, 360px);
	}

	&:hover {
		cursor: pointer;
		// @media (min-width: 767.98px) {
		// 	cursor: pointer;
		// 	width: func.adapt(30px, 1920px);
		// 	height: func.adapt(30px, 1920px);
		// }
	}
}
