@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.wrapper__infoAboutZone {
	display: flex;
	flex-direction: column;
	gap: func.adapt(8px, 1920px);
	overflow-y: auto;
	overflow-x: hidden;
	@include mix.scrollbar();
	padding-bottom: func.adapt(16px, 1920px);
	max-width: func.adapt(280px, 1920px);

	@media (max-width: 767.98px) {
		gap: func.adapt(8px, 480px);
		padding-bottom: func.adapt(16px, 480px);
	}

	@media (max-width: 479.98px) {
		gap: func.adapt(8px, 3600px);
		padding-bottom: func.adapt(16px, 3600px);
	}
}

// .block__infoAboutZone {
// 	width: func.adapt(280px, 1920px);
// 	padding: func.adapt(20px, 1920px) func.adapt(16px, 1920px)
// 		func.adapt(16px, 1920px);
// 	box-shadow: 0px 2px 15px rgba($color: #000000, $alpha: 0.1);
// 	border-radius: func.adapt(12px, 1920px);
// 	display: flex;
// 	flex-direction: column;
// 	gap: func.adapt(16px, 1920px);
// }

.block__objectInfo {
	width: func.adapt(280px, 1920px);
	padding: func.adapt(20px, 1920px) func.adapt(16px, 1920px)
		func.adapt(16px, 1920px);
	box-shadow: 0px 2px 15px rgba($color: #000000, $alpha: 0.1);
	border-radius: func.adapt(12px, 1920px);
	display: flex;
	flex-direction: column;
	gap: func.adapt(16px, 1920px);

	@media (max-width: 767.98px) {
		width: 100%;
		padding: func.adapt(20px, 480px) func.adapt(10px, 480px);
		border-radius: func.adapt(12px, 480px);
		gap: func.adapt(16px, 480px);
	}

	@media (max-width: 479.98px) {
		padding: func.adapt(20px, 360px) func.adapt(10px, 360px);
		border-radius: func.adapt(12px, 360px);
		gap: func.adapt(16px, 360px);
	}
}

.block__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 700;
	font-size: 1.57rem;
}

.image_title {
	width: func.adapt(16px, 1920px);
	height: func.adapt(16px, 1920px);
	transition:
		width 0.3s ease,
		height 0.3s ease;

	&:hover {
		width: func.adapt(19px, 1920px);
		height: func.adapt(19px, 1920px);

		@media (max-width: 767.98px) {
			width: func.adapt(16px, 480px);
			height: func.adapt(16px, 480px);
		}
		@media (max-width: 479.98px) {
			width: func.adapt(16px, 360px);
			height: func.adapt(16px, 360px);
		}
	}

	@media (max-width: 767.98px) {
		width: func.adapt(16px, 480px);
		height: func.adapt(16px, 480px);
	}
	@media (max-width: 479.98px) {
		width: func.adapt(16px, 360px);
		height: func.adapt(16px, 360px);
	}
}

.block__info {
	display: flex;
	flex-direction: column;
	gap: func.adapt(10px, 1920px);

	overflow-y: auto;
	overflow-x: hidden;
	@include mix.scrollbar();

	@media (max-width: 767.98px) {
		gap: func.adapt(10px, 480px);
	}
	@media (max-width: 479.98px) {
		gap: func.adapt(10px, 360px);
	}
}

.block__buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	> button {
		font-size: 0.928rem;
		width: 95%;
		height: func.adapt(40px, 1920px);
		border-radius: func.adapt(8px, 1920px);
		box-shadow: 0px 0px 20px rgba($color: vars.$green, $alpha: 0.1);
		transition:
			font-size 0.3s ease,
			width 0.3s ease,
			height 0.3s ease;

		&:hover {
			width: 100%;
			height: func.adapt(41px, 1920px);
			font-size: 1.02rem;

			@media (max-width: 767.98px) {
				height: func.adapt(40px, 480px);
			}
			@media (max-width: 479.98px) {
				height: func.adapt(40px, 360px);
			}
		}

		@media (max-width: 767.98px) {
			margin-top: func.adapt(10px, 480px);
			height: func.adapt(40px, 480px);
			border-radius: func.adapt(8px, 480px);
		}
		@media (max-width: 479.98px) {
			margin-top: func.adapt(10px, 360px);
			height: func.adapt(40px, 360px);
			border-radius: func.adapt(8px, 360px);
		}
	}
}
