@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

@include mix.filter_header();

.wrapper_filterBlock {
	@media (max-width: 767.98px) {
		width: 100%;
	}
}

.title {
	margin-bottom: func.adapt(15px, 1920px);

	@media (max-width: 767.98px) {
		margin-bottom: func.adapt(15px, 480px);
	}
}

.block__filter {
	@media (max-width: 767.98px) {
		width: 100%;

		> div {
			width: 100% !important;
		}
	}
}
