@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;

.wrapper_info {
	max-width: func.adapt(280px, 1920px);

	@media (max-width: 767.98px) {
		max-width: 100%;
	}
	// @media (max-width: 479.98px) {
	// 	gap: func.adapt(10px, 360px);
	// }
}

.title {
	font-weight: 700;
	margin-bottom: func.adapt(8px, 1920px);

	@media (max-width: 767.98px) {
		margin-bottom: func.adapt(8px, 480px);
	}
	@media (max-width: 479.98px) {
		margin-bottom: func.adapt(8px, 360px);
	}
}

.description {
	width: 100%;
	font-weight: 500;
	padding: func.adapt(11px, 1920px) func.adapt(14px, 1920px);
	border: 1px solid rgba($color: vars.$grey_lines, $alpha: 0.4);
	border-radius: func.adapt(4px, 1920px);
	color: vars.$green;

	@media (max-width: 767.98px) {
		padding: func.adapt(11px, 480px) func.adapt(14px, 480px);
		border-radius: func.adapt(4px, 480px);
	}
	@media (max-width: 479.98px) {
		padding: func.adapt(11px, 360px) func.adapt(14px, 360px);
		border-radius: func.adapt(4px, 360px);
	}
}

.link {
	color: vars.$green;
	font-weight: 500;
	transition: font-size 0.3s ease;

	&:hover {
		font-size: 1.08rem;
	}
}
