@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;

.wrapper_info {
	max-width: func.adapt(280px, 1920px);
}

.title {
	font-weight: 700;
	margin-bottom: func.adapt(8px, 1920px);
}

.description {
	width: 100%;
	font-weight: 500;
	padding: func.adapt(11px, 1920px) func.adapt(14px, 1920px);
	border: 1px solid rgba($color: vars.$grey_lines, $alpha: 0.4);
	border-radius: func.adapt(4px, 1920px);
	color: vars.$green;
}

.link {
	color: vars.$green;
	font-weight: 500;
	transition: font-size 0.3s ease;

	&:hover {
		font-size: 1.08rem;
	}
}
