@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.wrapper_listOfObjects {
	padding: func.adapt(20px, 1920px) func.adapt(16px, 1920px) 0px;
	box-shadow: 0px 2px 15px rgba($color: #000000, $alpha: 0.1);
	width: func.adapt(454px, 1920px);
	// flex-grow: 1;
	border-radius: func.adapt(12px, 1920px);
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: 700;
	font-size: 1.57rem;
}

.block__counts {
	margin-top: func.adapt(16px, 1920px);
	display: flex;
	flex-direction: column;
	gap: func.adapt(5px, 1920px);
}

.block__description {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.description {
	font-weight: 700;
}

.count {
	font-weight: 700;
}

.line {
	width: 100%;
	height: 1px;
	background-color: vars.$grey_lines;
	margin-top: func.adapt(8px, 1920px);
	margin-bottom: func.adapt(8px, 1920px);
}

.block__list {
	border-top-left-radius: func.adapt(12px, 1920px);
	border-top-right-radius: func.adapt(12px, 1920px);
	border: 1px solid vars.$grey_lines;
	border-bottom: none;
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	padding-top: func.adapt(11px, 1920px);

	position: relative;

	@include mix.scrollbar();
}

.block__name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: func.adapt(11px, 1920px);
	border-bottom: 1px dotted vars.$grey_middle;

	> button {
		&:hover + .hover__text {
			display: block;
		}
	}
}

.name {
	font-weight: 500;
	font-size: 1.42rem;
	color: vars.$green;
	transition: font-size 0.3s ease;

	&:hover {
		cursor: pointer;
		font-size: 1.5rem;
	}
}

.icon_svg {
	width: func.adapt(20px, 1920px);
	height: func.adapt(20px, 1920px);
	transition:
		width 0.3s ease,
		height 0.3s ease;

	&:hover {
		width: func.adapt(23px, 1920px);
		height: func.adapt(23px, 1920px);
	}
}

.hover__text {
	@include mix.hover_text();
}
