@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.wrapper_listOfObjects {
	padding: func.adapt(20px, 1920px) func.adapt(16px, 1920px) 0px;
	box-shadow: 0px 2px 15px rgba($color: #000000, $alpha: 0.1);
	width: func.adapt(454px, 1920px);
	// flex-grow: 1;
	border-radius: func.adapt(12px, 1920px);
	display: flex;
	flex-direction: column;

	@media (max-width: 767.98px) {
		width: 100%;
		flex-grow: 1;
		padding: func.adapt(10px, 480px);
		border-radius: none;
	}
	@media (max-width: 479.98px) {
		padding: func.adapt(10px, 360px);
	}
}

.title {
	font-weight: 700;
	font-size: 1.57rem;

	@media (max-width: 767.98px) {
		font-size: 1.28rem;
	}
}

.block__counts {
	margin-top: func.adapt(16px, 1920px);
	display: flex;
	flex-direction: column;
	gap: func.adapt(5px, 1920px);

	@media (max-width: 767.98px) {
		margin-top: func.adapt(16px, 480px);
		gap: func.adapt(5px, 480px);
	}
	@media (max-width: 479.98px) {
		margin-top: func.adapt(16px, 360px);
		gap: func.adapt(5px, 360px);
	}
}

.block__description {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.description {
	font-weight: 700;
}

.count {
	font-weight: 700;
}

.line {
	width: 100%;
	height: 1px;
	background-color: vars.$grey_lines;
	margin-top: func.adapt(8px, 1920px);
	margin-bottom: func.adapt(8px, 1920px);

	@media (max-width: 767.98px) {
		margin-top: func.adapt(8px, 480px);
		margin-bottom: func.adapt(8px, 480px);
	}
	@media (max-width: 479.98px) {
		margin-top: func.adapt(8px, 360px);
		margin-bottom: func.adapt(8px, 360px);
	}
}

.block__list {
	border-top-left-radius: func.adapt(12px, 1920px);
	border-top-right-radius: func.adapt(12px, 1920px);
	border: 1px solid vars.$grey_lines;
	border-bottom: none;
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	padding-top: func.adapt(11px, 1920px);
	position: relative;
	display: flex;
	flex-direction: column;

	@include mix.scrollbar();

	@media (max-width: 767.98px) {
		border-top-left-radius: func.adapt(12px, 480px);
		border-top-right-radius: func.adapt(12px, 480px);
		padding-top: func.adapt(11px, 1920px);
	}
	@media (max-width: 479.98px) {
		border-top-left-radius: func.adapt(12px, 360px);
		border-top-right-radius: func.adapt(12px, 360px);
		padding-top: func.adapt(11px, 360px);
	}
}
