@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;

.wrapper__input-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: func.adapt(30px, 1920px);
	width: 100%;

	@media (max-width: 767.98px) {
		height: func.adapt(30px, 480px);
	}
	@media (max-width: 479.98px) {
		height: func.adapt(30px, 360px);
	}

	> button {
		text-transform: uppercase;
		color: vars.$black_hard;
		background-color: transparent;
		font-size: 1.5rem;

		transition: font-size 0.3s ease;

		&:hover {
			cursor: pointer;
			font-size: 1.58rem;
		}

		&:disabled {
			cursor: default;
			font-size: 1.5rem;
		}
	}

	> span {
	}

	> input {
		font-size: 1rem;
		max-width: 27%;
		height: func.adapt(30px, 1920px);
		border-radius: func.adapt(4px, 1920px);
		border: 1px solid vars.$grey_middle;
		background-color: transparent;
		padding: func.adapt(10px, 1920px) func.adapt(42px, 1920px)
			func.adapt(10px, 1920px) func.adapt(16px, 1920px);
		outline: none;
		position: relative;

		@media (max-width: 991.98px) {
			padding: func.adapt(5px, 1920px) func.adapt(37px, 1920px)
				func.adapt(5px, 1920px) func.adapt(11px, 1920px);
		}

		@media (max-width: 767.98px) {
			height: func.adapt(30px, 480px);
			border-radius: func.adapt(4px, 480px);
		}
		@media (max-width: 479.98px) {
			height: func.adapt(30px, 360px);
			border-radius: func.adapt(4px, 360px);
		}
	}
}

.color-placeholder {
	width: func.adapt(59px, 1920px);
	height: func.adapt(30px, 1920px);

	@media (max-width: 767.98px) {
		width: func.adapt(59px, 480px);
		height: func.adapt(30px, 480px);
	}
	@media (max-width: 479.98px) {
		width: func.adapt(59px, 360px);
		height: func.adapt(30px, 360px);
	}
}

.color {
	width: func.adapt(59px, 1920px);
	height: func.adapt(30px, 1920px);
	transition:
		width 0.3s ease,
		height 0.3s ease;

	&:hover {
		cursor: pointer;
		width: func.adapt(65px, 1920px);
		height: func.adapt(33px, 1920px);

		@media (max-width: 767.98px) {
			width: func.adapt(59px, 480px);
			height: func.adapt(30px, 480px);
		}
		@media (max-width: 479.98px) {
			width: func.adapt(59px, 360px);
			height: func.adapt(30px, 360px);
		}
	}

	@media (max-width: 767.98px) {
		width: func.adapt(59px, 480px);
		height: func.adapt(30px, 480px);
	}
	@media (max-width: 479.98px) {
		width: func.adapt(59px, 360px);
		height: func.adapt(30px, 360px);
	}
}
