@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.block__importOptions {
	display: flex;
	flex-direction: column;
	gap: func.adapt(15px, 1920px);
	padding: func.adapt(20px, 1920px);

	@media (max-width: 767.98px) {
		gap: func.adapt(15px, 480px);
		padding: func.adapt(12px, 480px);
	}
	@media (max-width: 479.98px) {
		gap: func.adapt(15px, 360px);
		padding: func.adapt(12px, 360px);
	}

	> button {
		text-transform: uppercase;
		width: 100%;
		height: func.adapt(40px, 1920px);
		font-size: 1rem;
		box-shadow: 0px 4px 15px rgba($color: vars.$green_light, $alpha: 0.3);

		height: func.adapt(40px, 1920px);
		font-size: 1rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		&:hover {
			cursor: pointer;
			background-color: vars.$white !important;
			color: vars.$green !important;
			border: 1px solid vars.$green;
			// transition:
			// 	font-size 0.3s ease,
			// 	width 0.3s ease,
			// 	height 0.3s ease;

			// &:hover {
			// 	cursor: pointer;
			// 	width: 101%;
			// 	height: func.adapt(45px, 1920px);
			// 	font-size: 1.08rem;

			@media (max-width: 767.98px) {
				height: func.adapt(40px, 480px);
			}
			@media (max-width: 479.98px) {
				height: func.adapt(40px, 360px);
			}
		}

		@media (max-width: 767.98px) {
			height: func.adapt(40px, 480px);
			border-radius: func.adapt(8px, 480px);
			box-shadow: 0px 0px 22px rgba($color: vars.$green, $alpha: 0.44);
		}
		@media (max-width: 479.98px) {
			height: func.adapt(40px, 360px);
			border-radius: func.adapt(8px, 360px);
		}
	}
}

.block__addFile {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	> button {
		text-transform: uppercase;
		width: func.adapt(175px, 1920px);
		height: func.adapt(40px, 1920px);
		font-size: 1rem;
		// transition:
		// 	font-size 0.3s ease,
		// 	width 0.3s ease,
		// 	height 0.3s ease;

		// &:hover {
		// 	cursor: pointer;

		height: func.adapt(40px, 1920px);
		font-size: 1rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		&:hover {
			cursor: pointer;
		}

		@media (max-width: 767.98px) {
			width: func.adapt(175px, 480px);
			height: func.adapt(40px, 480px);
			border-radius: func.adapt(8px, 480px);
		}
		@media (max-width: 479.98px) {
			width: func.adapt(145px, 360px);
			height: func.adapt(40px, 360px);
			border-radius: func.adapt(8px, 360px);
		}
	}
}

.input__file {
	position: absolute;
	z-index: 3;
	width: 100%;
	opacity: 0;
	height: 100%;

	&:hover + button {
		// width: func.adapt(185px, 1920px);
		// height: func.adapt(45px, 1920px);
		// font-size: 1.08rem;
		background-color: vars.$white !important;
		color: vars.$green !important;
		border: 1px solid vars.$green;
		cursor: pointer;

		@media (max-width: 767.98px) {
			width: func.adapt(175px, 480px);
			height: func.adapt(40px, 480px);
		}
		@media (max-width: 479.98px) {
			width: func.adapt(145px, 360px);
			height: func.adapt(40px, 360px);
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.name__file {
	border-radius: func.adapt(4px, 1920px);
	border: 1px solid vars.$grey_middle;
	background-color: vars.$white;
	padding: func.adapt(10px, 1920px) func.adapt(42px, 1920px)
		func.adapt(10px, 1920px) func.adapt(16px, 1920px);
	font-size: 1rem;
	min-width: func.adapt(300px, 1920px);
	height: func.adapt(40px, 1920px);

	@media (max-width: 767.98px) {
		min-width: func.adapt(160px, 480px);
		border-radius: func.adapt(4px, 480px);
		padding: func.adapt(5px, 480px);
		height: func.adapt(40px, 480px);
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap; /* Запрещает перенос строк */
		overflow: hidden; /* Скрывает выходящий за границы текст */
		text-overflow: ellipsis; /* Добавляет троеточие */
	}
	@media (max-width: 479.98px) {
		height: func.adapt(40px, 360px);
	}
}

@include mix.line();

.block__otherFields {
	display: flex;
	align-items: center;
	gap: func.adapt(20px, 1920px);

	@media (max-width: 767.98px) {
		gap: func.adapt(20px, 480px);
		flex-direction: column;
		justify-content: center;
	}
}
