@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

@include mix.filter_header();

.block__filter {
	margin-top: func.adapt(8px, 1920px);
	max-height: func.adapt(300px, 1920px);
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	@include mix.scrollbar();

	display: flex;
	flex-direction: column;
	gap: func.adapt(8px, 1920px);

	@media (max-width: 767.98px) {
		margin-top: func.adapt(8px, 480px);
		max-height: func.adapt(300px, 480px);
		gap: func.adapt(8px, 480px);
	}
	@media (max-width: 479.98px) {
		margin-top: func.adapt(8px, 360px);
		max-height: func.adapt(300px, 360px);
		gap: func.adapt(8px, 360px);
	}
}
