@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;

.custom_map {
	flex-grow: 1; //HELP: ставлю это а не ширину 100% потому что так он занимает все доступное пространство, а при 100% ширине он начинает сдавливать соседние блоки
	// // width: 100%;
	// // height: 100%;
	border-radius: func.adapt(12px, 1920px);
	box-shadow: 0px 4px 20px rgba($color: vars.$green_light, $alpha: 0.3);

	@media (max-width: 767.98px) {
		border-radius: func.adapt(12px, 480px);
		flex-grow: 0;
		height: func.adapt(620px, 480px);
	}
	@media (max-width: 479.98px) {
		border-radius: func.adapt(11px, 360px);
		height: func.adapt(620px, 360px);
	}
}
