@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.block__menu {
	display: flex;
	align-items: center;
	gap: func.adapt(3px, 1920px);

	@media (max-width: 767.98px) {
		gap: func.adapt(3px, 480px);
	}
	@media (max-width: 479.98px) {
		gap: func.adapt(3px, 360px);
	}

	> button {
		&:hover {
			> .hover__text {
				display: block;
			}
		}
	}
}

.icon_svg {
	width: func.adapt(22px, 1920px);
	height: func.adapt(22px, 1920px);
	// transition:
	// 	width 0.3s ease,
	// 	height 0.3s ease;

	&:hover {
		// width: func.adapt(25px, 1920px);
		// height: func.adapt(25px, 1920px);

		@media (max-width: 767.98px) {
			width: func.adapt(22px, 480px);
			height: func.adapt(22px, 480px);
		}
		@media (max-width: 479.98px) {
			width: func.adapt(22px, 360px);
			height: func.adapt(22px, 360px);
		}
	}

	@media (max-width: 767.98px) {
		width: func.adapt(22px, 480px);
		height: func.adapt(22px, 480px);
	}
	@media (max-width: 479.98px) {
		width: func.adapt(22px, 360px);
		height: func.adapt(22px, 360px);
	}
}

.hover__text {
	@include mix.hover_text();
}
