@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.wrapper_organizations {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: func.adapt(8px, 1920px);
	padding-bottom: func.adapt(16px, 1920px);
	box-shadow: 0px 2px 15px rgba($color: #000000, $alpha: 0.1);
	padding: 0.3rem 0.15rem;
	border-radius: func.adapt(12px, 1920px);

	overflow-y: auto;
	overflow-x: hidden;
	@include mix.scrollbar();

	margin-top: auto;
	margin-bottom: auto;
	height: fit-content;
	max-height: 100%;
	width: 100%;
	overflow: hidden;

	@media (max-width: 767.98px) {
		gap: func.adapt(4px, 480px);
		padding-bottom: func.adapt(16px, 480px);
		border-radius: func.adapt(12px, 480px);
	}

	@media (max-width: 479.98px) {
		gap: func.adapt(4px, 3600px);
		padding-bottom: func.adapt(16px, 3600px);
		border-radius: func.adapt(12px, 360px);
	}
}

.image_arrow {
	transform: rotate(90deg);
}

.table {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: vars.$grey_middle;
	border-radius: 0.5rem;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	@include mix.scrollbar();

	> .title {
		font-weight: 600;
		padding: 0.25rem 0.5rem;
		border: 1px solid vars.$grey_middle;
	}

	> p {
		padding: 0.25rem 0.5rem;
		border: 1px solid vars.$grey_middle;
		max-width: 100%;
	}

	> .name {
		&:hover {
			cursor: pointer;
		}
	}
}
