@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;

.wrapper_entryBlock {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: func.adapt(600px, 1920px);
	// height: func.adapt(492px, 1920px);
	border-radius: func.adapt(12px, 1920px);
	box-shadow: 0px 4px 15px rgba($color: vars.$green_light, $alpha: 0.3);
	padding: func.adapt(30px, 1920px) func.adapt(40px, 1920px)
		func.adapt(40px, 1920px);

	@media (max-width: 767.98px) {
		position: static;
		transform: translate(0%, 0%);
		width: auto;
		margin: func.adapt(10px, 480px);
		padding: func.adapt(30px, 480px) func.adapt(10px, 480px);
		border-radius: func.adapt(12px, 480px);
	}
}

.block__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 700;
	font-size: 1.71rem;

	@media (max-width: 767.98px) {
		font-size: 2.28rem;
	}
}

.link,
.link_bot {
	font-weight: 500;
	color: vars.$blue;
	transition: font-size 0.3s ease;

	&:hover {
		font-size: 1.5rem;
	}
}

.link {
	font-size: 1.42rem;

	@media (max-width: 767.98px) {
		display: none;
	}
}

.link_mobile {
	display: none;

	@media (max-width: 767.98px) {
		display: block;
		font-size: 1rem;
		justify-self: center;
		margin-top: func.adapt(16px, 480px);
	}
}

.link_bot {
	font-size: 1rem;

	&:hover {
		font-size: 1.08rem;
	}
}

.line {
	margin-top: func.adapt(31px, 1920px);
	margin-bottom: func.adapt(15px, 1920px);
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted vars.$grey_lines;

	@media (max-width: 767.98px) {
		margin-top: func.adapt(16px, 480px);
		margin-bottom: func.adapt(16px, 480px);
	}
}

.form {
	background-color: vars.$blue_very_light;
	border-radius: func.adapt(11px, 1920px);
	padding: func.adapt(35px, 1920px);

	display: flex;
	flex-direction: column;
	gap: func.adapt(15px, 1920px);

	@media (max-width: 767.98px) {
		border-radius: func.adapt(11px, 480px);
		padding: func.adapt(12px, 480px);
		gap: func.adapt(8px, 480px);
	}

	button {
		transition:
			width 0.3s ease,
			height 0.3s ease,
			font-size 0.3s ease;

		@media (max-width: 767.98px) {
			width: 100% !important;
			border-radius: func.adapt(10px, 480px) !important;
			height: func.adapt(50px, 480px) !important;
		}

		&:hover {
			width: func.adapt(460px, 1920px) !important;
			height: func.adapt(65px, 1920px) !important ;
			font-size: 1.2rem !important;

			@media (max-width: 767.98px) {
				width: 101% !important;
				height: func.adapt(55px, 480px) !important;
			}
		}
	}
}

.block__view_password {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.isRegistr {
	font-size: 1.14rem;
	font-weight: 500;
	align-self: center;

	> .link {
		font-size: 1.14rem;

		&:hover {
			font-size: 1.2rem;
		}
	}
}

.description {
	margin-top: func.adapt(10px, 1920px);
	align-self: center;
	font-size: 1.14rem;
	text-align: center;
}
