@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;

button {
	text-transform: uppercase;
	width: 100%;
	height: func.adapt(40px, 1920px);
	font-size: 1rem;
	box-shadow: 0px 4px 15px rgba($color: vars.$green_light, $alpha: 0.3);

	transition:
		font-size 0.3s ease,
		width 0.3s ease,
		height 0.3s ease;

	&:hover {
		cursor: pointer;
		width: 101%;
		height: func.adapt(45px, 1920px);
		font-size: 1.08rem;
	}
}
