@use '@st/functions.scss' as func;
@use '@st/variables.scss' as vars;
@use '@st/mixins.scss' as mix;

.block__name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: func.adapt(11px, 1920px);
	border-bottom: 1px dotted vars.$grey_middle;

	&:hover {
		background-color: vars.$blue_very_light;
		cursor: pointer;
	}

	@media (max-width: 767.98px) {
		padding: func.adapt(11px, 480px);
	}
	@media (max-width: 479.98px) {
		padding: func.adapt(11px, 360px);
	}

	> button {
		&:hover + .hover__text {
			display: block;
		}
	}
}

.name {
	font-weight: 500;
	font-size: 1.42rem;
	color: vars.$green;
	transition: font-size 0.3s ease;

	&:hover {
		font-size: 1.5rem;

		@media (max-width: 767.98px) {
			font-size: 1.42rem;
		}
	}
}

.icon_svg {
	width: func.adapt(20px, 1920px);
	height: func.adapt(20px, 1920px);
	transition:
		width 0.3s ease,
		height 0.3s ease;

	@media (max-width: 767.98px) {
		width: func.adapt(20px, 480px);
		height: func.adapt(20px, 480px);
	}
	@media (max-width: 479.98px) {
		width: func.adapt(20px, 360px);
		height: func.adapt(20px, 360px);
	}

	&:hover {
		width: func.adapt(23px, 1920px);
		height: func.adapt(23px, 1920px);

		@media (max-width: 767.98px) {
			width: func.adapt(20px, 480px);
			height: func.adapt(20px, 480px);
		}
		@media (max-width: 479.98px) {
			width: func.adapt(20px, 360px);
			height: func.adapt(20px, 360px);
		}
	}
}

.hover__text {
	@include mix.hover_text();
}
